<section
  class="search-jumbo jumbo-results"
>
  <h2>Jobs in <span><%= params[:location] %></span></h2>
  <p>Matched <%= @jobs.count %> out of <%= @total_jobs %> jobs</p>
</section>

<div class="container jobs">
  <% if @jobs.empty? %>
    <div class="no-matches-container">
      <h2>Jobs near <span><%= params[:location] %></span></h2>
      <h4 class="no-matches-text">
        Oh noes. We didn't find any jobs. Try altering your search.
      </h4>
      <a href="/" class="nav-link nav-search">Try Again</a>
    </div>
  <% else %>
    <% @jobs.each do |job| %>
      <li class="job-card">
        <main class="job-main">
          <a href="<%= job.url %>" target="_blank" class="job-link">
            <div class="job-top">
              <div class="job-heading">
                <h3 class="job-position"><%= job.position %></h3>
                <h4 class="job-company"><%= job.company %></h4>
              </div>
              <% if job.point_allocation && job.points != 0 %>
                <p class="job-points <%= pass_or_fail_class(job) %>">
                  <%= job.points %>
                  <img src="<%= job.passing_score? ? 'emerald.png' : 'ruby.png' %>" alt="Emerald or Ruby" />
                </p>
              <% end %>
              <h5 class="job-location"><%= job.location %></h5>
            </div>

            <% if job.point_allocation && (!job.good_matches.empty? || !job.bad_matches.empty?) %>
              <main class="job-body">
                <section class="keyword-matches">
                  <ul class="good-keywords">
                    <% job.good_matches.each do |matched_keyword| %>
                      <li class="keyword good-keyword"><%= matched_keyword %></li>
                    <% end %>
                  </ul>

                  <% if job.bad_matches.length > 0 %>
                    <ul class="bad-keywords">
                      <% job.bad_matches.each do |matched_keyword| %>
                        <li class="keyword bad-keyword"><%= matched_keyword %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </section>
              </main>
            <% end %>
          </a>

        </main>
      </li>
    <% end %>
  <% end %>
</div>
