<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Efficiently & easily find awesome jobs matches as a Software Engineer. Let the computer do the work for you, as usual."/>
  <meta name="keywords" content="software,engineer,engineering,jobs,remote,san francisco,software engineer jobs,developer jobs,remote jobs,san francisco,new york,boston,seattle,denver,colorado" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/main.css" type="text/css" />
  <link rel='icon' href="icon.png" />
  <title>Better Jobs <%= @page_title %></title>
  <% if Sinatra::Base.production? %>
    <%= erb :'layout/_analytics' %>
    <%= erb :'layout/_hotjar' %>
  <% end %>
</head>
<body class="<%= request.path == '/' ? 'landing' : '' %>">
  <%= erb :'layout/_nav' %>
  <%= yield %>
  <%= erb :'layout/_footer' %>
</body>
</html>
