<%
cards = [
  {
    background: 'appacademy.jpg',
    bad_keywords: [
      'assembly -100',
      'c -100',
      'c# -100',
      'c++ -100',
      'java -100',
    ],
    good_keywords: [
      'app academy 50',
      'appacademy 50',
      'boot camp 50',
      'bootcamp 50',
      'bootcamps 50',
      'css 5',
      'entry 10',
      'entry level 10',
      'hack reactor 50',
      'hackreactor 50',
      'html 5',
      'javascript 5',
      'learning 10',
      'react 5',
      'redux 5',
      'ruby 5',
      'ruby on rails 5',
      'junior 5',
      'jr 5',
      'jr. 5',
    ],
    position_exclusions: [
      'senior',
      'sr',
      'sr.',
      'lead',
      'devops',
      'dev ops',
      'aws',
      'principal',
      'staff',
      'integrations',
      'test',
      'ui',
      'ux',
    ],
    text: 'App Academy Grad'
  },
  {
    background: 'hackreactor.jpg',
    bad_keywords: [
      'assembly -100',
      'c -100',
      'c# -100',
      'c++ -100',
      'java -100',
    ],
    good_keywords: [
      'app academy 50',
      'appacademy 50',
      'boot camp 50',
      'bootcamp 50',
      'bootcamps 50',
      'css 5',
      'entry 10',
      'entry level 10',
      'hack reactor 50',
      'hackreactor 50',
      'html 5',
      'javascript 5',
      'learning 10',
      'react 5',
      'redux 5',
      'ruby 5',
      'ruby on rails 5',
      'junior 5',
      'jr 5',
      'jr. 5',
    ],
    position_exclusions: [
      'senior',
      'sr',
      'sr.',
      'lead',
      'devops',
      'aws',
      'principal',
      'staff',
    ],
    text: 'Hack Reactor Grad'
  },
  {
    background: 'frontend.jpg',
    bad_keywords: [
      'backend -50',
      'ruby on rails -50',
      'ruby -50',
      'python -50',
    ],
    good_keywords: [
      'react 10',
      'vue 10',
      'angular 10',
      'html 10',
      'css 10',
      'bootstrap 10',
    ],
    position_exclusions: [
      'backend',
      'devops',
      'dev ops',
      'aws',
      'full-stack',
      'fullstack',
      'full stack',
      'java',
    ],
    text: 'Frontend'
  },
  {
    background: 'backend.jpg',
    bad_keywords: [
      'frontend -50',
      'front end -50',
      'html -10',
      'css -10',
    ],
    good_keywords: [
      'backend 10',
      'back end 10',
      'ruby on rails 10',
      'django 10',
      'flash 10',
      'ruby 10',
      'python 10',
      'java 10',
      'c++ 10',
      'java 10',
      'express 10',
      'node 10',
    ],
    position_exclusions: [
      'frontend',
      'front end',
      'devops',
      'dev ops',
      'aws',
    ],
    text: 'Backend'
  },
  {
    background: 'fullstack.jpg',
    bad_keywords: [
    ],
    good_keywords: [
    ],
    position_exclusions: [
      'frontend',
      'front end',
      'devops',
      'dev ops',
      'aws',
    ],
    text: 'Full Stack'
  },
  {
    background: 'perks.jpg',
    bad_keywords: [
    ],
    good_keywords: [
      'beer 10',
      'beer on tap 10',
      'pet 10',
      'pet friendly 10',
      'conference 10',
      'conferences 10',
      'travel 10',
      'unlimited pto 20',
      '401k 10',
      'stock 10',
      'gym membership 10',
      'gym 10',
      'paid phone 10',
      'paid cell phone 10',
      'tuition reimbursement 10',
      'education reimbursement 10',
      'team outings 10',
      'team events 10',
      'housing assistance 10',
      'cafeteria 10',
      'snacks 10',
      'food 10',
      'arcade 5',
      'pool table 5',
    ],
    position_exclusions: [
    ],
    text: 'Cool Perks'
  },
]
%>

<section class="easysearch">
  <h3 class="easysearch-label">Easy Search</h3>

  <section class="easysearch-buttons">
    <% cards.each do |card| %>
      <form class="easysearch-button" style="background-image: url(assets/<%= card[:background] %>)" action="/jobs" method="get">
        <input type="hidden" name="location" value="<%= stored_location_or_default %>" class="location" />
        <input type="hidden" name="good_keywords" value="<%= card[:good_keywords].join("\r\n") %>" />
        <input type="hidden" name="bad_keywords" value="<%= card[:bad_keywords].join("\r\n") %>" />
        <input type="hidden" name="position_exclusions" value="<%= card[:position_exclusions].join("\r\n") %>" />
        <input type="hidden" name="passing_points" value="50" />
        <p class="easysearch-button-text"><%= card[:text] %></p>
        <button class="easysearch-button-submit"></button>
      </form>
    <% end %>
  </section>
</section>
