<%
cards = [
  {
    background: 'bootcamp.jpg',
    bad_keywords: [
    ],
    good_keywords: {
      'app academy': 50,
      'appacademy': 50,
      'boot camp': 50,
      'bootcamp': 50,
      'bootcamps': 50,
      'css': 5,
      'entry level': 10,
      'entry': 10,
      'hack reactor': 50,
      'hackreactor': 50,
      'html': 5,
      'javascript': 5,
      'jr': 5,
      'jr.': 5,
      'junior': 5,
      'learning': 10,
      'react': 5,
      'redux': 5,
      'ruby on rails': 5,
      'ruby': 5,
    },
    position_exclusions: [
      'aws',
      'dev ops',
      'devops',
      'integrations',
      'lead',
      'principal',
      'senior',
      'sr',
      'sr.',
      'staff',
      'test',
      'ui',
      'ux',
    ],
    text: 'Boot Camp Grad'
  },
  {
    background: 'college.jpg',
    bad_keywords: {
    },
    good_keywords: {
      'new grad': 25,
      'new graduate': 25,
      'college': 25,
      'entry': 25,
      'jr': 25,
      'jr.': 25,
      'junior': 25,
      'learning': 10,
    },
    position_exclusions: [
      'aws',
      'dev ops',
      'devops',
      'integrations',
      'lead',
      'principal',
      'senior',
      'sr',
      'sr.',
      'staff',
      'test',
      'ui',
      'ux',
    ],
    text: 'New Grad'
  },
  {
    background: 'frontend.jpg',
    bad_keywords: [
    ],
    good_keywords: {
      'react': 10,
      'vue': 10,
      'angular': 10,
      'html': 10,
      'css': 10,
      'bootstrap': 10,
    },
    position_exclusions: [
      'backend',
      'devops',
      'dev ops',
      'aws',
      'full-stack',
      'fullstack',
      'full stack',
      'java',
      'analyst',
    ],
    text: 'Frontend'
  },
  {
    background: 'backend.jpg',
    bad_keywords: [
    ],
    good_keywords: {
      'backend': 10,
      'back end': 10,
      'ruby on rails': 10,
      'django': 10,
      'flash': 10,
      'ruby': 10,
      'python': 10,
      'java': 10,
      'c++': 10,
      'express': 10,
      'node': 10,
    },
    position_exclusions: [
      'frontend',
      'front end',
      'devops',
      'dev ops',
      'aws',
      'fullstack',
      'full stack',
      'full-stack',
    ],
    text: 'Backend'
  },
  {
    background: 'fullstack.jpg',
    bad_keywords: [
    ],
    good_keywords: {
      'fullstack': 50,
      'full-stack': 50,
    },
    position_exclusions: [
      'frontend',
      'front end',
      'devops',
      'dev ops',
      'aws',
    ],
    text: 'Full Stack'
  },
  {
    background: 'perks.jpg',
    bad_keywords: [
    ],
    good_keywords: {
      'beer': 10,
      'beer on tap': 10,
      'pet': 10,
      'dog friendly': 10,
      'dog-friendly': 10,
      'pet friendly': 10,
      'conference': 10,
      'conferences': 10,
      'travel': 10,
      'unlimited pto': 20,
      '401k': 10,
      'stock': 10,
      'gym membership': 10,
      'gym': 10,
      'paid phone': 10,
      'paid cell phone': 10,
      'tuition reimbursement': 10,
      'education reimbursement': 10,
      'team outings': 10,
      'team events': 10,
      'housing assistance': 10,
      'cafeteria': 10,
      'snacks': 10,
      'food': 10,
      'arcade': 5,
      'pool table': 5,
    },
    position_exclusions: [
    ],
    text: 'Cool Perks'
  },
]
%>

<section class="easysearch">
  <h3 class="section-label">Easy Search</h3>
  <h4 class="section-detail">Quickly find jobs ranked through presets</h4>

  <section class="easysearch-buttons">
    <% cards.each do |card| %>
      <form class="easysearch-button" style="background-image: url(<%= card[:background] %>)" action="/jobs" method="get">
        <input type="hidden" name="easy_search" value="true" />
        <input type="hidden" name="location" value="<%= stored_location_or_default %>" class="location" />
        <input type="hidden" name="good_keywords" value='<%= card[:good_keywords].to_json %>' />
        <input type="hidden" name="bad_keywords" value='<%= card[:bad_keywords].to_json %>' />
        <input type="hidden" name="position_exclusions" value="<%= card[:position_exclusions].join(",") %>" />
        <input type="hidden" name="passing_points" value="50" />
        <p class="easysearch-button-text"><%= card[:text] %></p>
        <button class="easysearch-button-submit"></button>
      </form>
    <% end %>
  </section>
</section>
