<form class="search" action="/jobs" method="get">
  <input type="hidden" name="location" value="<%= stored_location_or_default %>" class="location" />

  <div class="form-section-header">
    <div>
      <span>1</span>
      <h4>Choose points needed to pass</h4>
    </div>
  </div>

  <input
    type="range"
    id="passing_points"
    value="<%= stored_points_or_default %>"
    name="passing_points"
  />

  <div class="slider">
    <div class="slider-fill" style="width: <%= stored_points_or_default %>%"></div>

    <div class="slider-label-container">
      <i class="fas fa-check"></i>
      <p class="slider-label-detail"><%= pluralized_points %></p>
    </div>
  </div>

  <div class="form-section-header">
    <div>
      <span>2</span>
      <h4>Define your keywords</h4>
    </div>
    <a class="reset" href="?reset=true">
      Reset search terms
    </a>
  </div>
  <section class="fields">
    <div class="field">
      <div class="search-label-container label-good">
        <label
          for="good-keywords"
          class="search-label">
          Good Keywords
        </label>
        <i class="fas fa-thumbs-up"></i>
      </div>
      <p class="label-explanation">
        <i class="fas fa-info-circle"></i>
        If a keyword is found, points are added to the total once.
      </p>
      <ul class="form-added-keywords">
        <% if stored_good_keywords %>
          <% stored_good_keywords.each do |keyword, points| %>
            <li class="form-added-keyword">
              <p><%= keyword %></p>
              <p>
                <%= points %> points
                <button>X</button>
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="form-add">
        <input type="hidden" name="good_keywords" value='<%= stored_good_keywords %>' id="goodKeywords" />
        <input type="text" placeholder="Enter a good keyword" class="form-add-keyword" />
        <input type="text" placeholder="Points to add" class="form-add-points" />
        <button class="form-add-button">Add</button>
      </div>
    </div>

    <div class="field">
      <div class="search-label-container label-bad">
        <label
          for="bad-keywords"
          class="search-label">
          Bad Keywords
        </label>
        <i class="fas fa-thumbs-down"></i>
      </div>
      <p class="label-explanation">
        <i class="fas fa-info-circle"></i>
        If a keyword is found, points are deducted from the total once.
      </p>
      <ul class="form-added-keywords">
        <% if stored_bad_keywords %>
          <% stored_bad_keywords.each do |keyword, value| %>
            <li class="form-added-keyword">
              <p><%= keyword %></p>
              <p>
                <%= value %> points
                <button>X</button>
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="form-add">
        <input type="hidden" name="bad_keywords" value='<%= stored_bad_keywords %>' id="badKeywords" />
        <input type="text" placeholder="Enter a bad keyword" class="form-add-keyword" />
        <input type="text" placeholder="Points to add" class="form-add-points" />
        <button class="form-add-button bad">Add</button>
      </div>
    </div>

    <div class="field">
      <div class="search-label-container label-bad">
        <label
          for="position-exclusions"
          class="search-label">
          Position Exclusions
        </label>
        <i class="fas fa-ban"></i>
      </div>
      <p class="label-explanation">
        <i class="fas fa-info-circle"></i>
        If any of these words are found in the position title, it will be excluded from your results.
      </p>
      <textarea
        id="position-exclusions"
        class="textarea-bad"
        name="position_exclusions"
      ><%= stored_position_exclusions_or_default %></textarea>
    </div>
  </section>

  <button class="submit">Search</button>
</form>